
  <h1>Welcome Young Padawan!</h1>


  <form action="/login" method="POST">

  <label>Username:</label>
  <input type="text" name="user[username]">
  <br />
  <br />
  <label>Password:</label>
  <input type="text" name="user[password]">
  <br />
  <br />
  <input type="submit" value="Let the games begin!">
  </form>